POSTGRES_DB=foodtruck
POSTGRES_USER=foodtruck
POSTGRES_PASSWORD=foodtruck
POSTGRES_PORT=5432

SPRING_PROFILES_ACTIVE=dev
DB_HOST=localhost
DB_PORT=5432
DB_NAME=foodtruck
DB_USER=foodtruck
DB_PASSWORD=foodtruck

